<img id="logo" src="files/icons/logo.png" alt="{projectName}" />
<div class="auth">
	<form action="admin" method="POST">

		<h2>Log In</h2>
		<input type="password" name="password" placeholder="Password"/><br/>
		<input type="submit" value="Log In"/>

	</form>
</div>