body {
    margin: 0;
    padding: 0;
    font-family: Corbel, sans-serif;
    position: relative;
    padding-top: 25px;
    background: #454545;
}

h1, h2, h3 {
    margin: 0; padding: 0;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
}

.hidden {display: none !important;}

input {
    border-radius: 3px;
    margin: 4px;
}

input[type="button"], input[type="submit"] {
    width: 120px;
    height: 45px;
    color: #FFF;
    background: #007acc;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #fff;
}

input[type="button"]:hover, input[type="submit"]:hover,
input[type="button"]:active, input[type="submit"]:active {
    border: 2px solid #007acc;
    color: #007acc;
    background: #fff;
}

input[type="text"], input[type="password"] {
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

textarea {
    width: 280px;
    height: 200px;
    border-radius: 3px;
    border: 1px solid #007acc;
    resize: none;
    margin: 5px;
}

.auth {
    width: 100%;
    padding-top: 30px;
    text-align: center;
}

#logo {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 5px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    z-index: -1;
    opacity: 0.66;
}

.editor {
    position: absolute;
    z-index: 99;
    top: 25px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    background: #fff;
    width: 310px;
    text-align: center;
    border: 1px solid #007acc;
    padding: 10px 0;
}

.editor-close {
    position: absolute;
    color: #007acc;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

.item_list {
    text-align: center;
    max-width: 800px;
    position: relative;
    left: 0; right: 0;
    margin: 0 auto;
}

.list-template {
    display: none;
}

.list-row {
    position: relative;
    margin: 2px;
    background: #567876;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    width: 315px;
    min-height: 90px;
    display: inline-block;
    vertical-align: top;
}

.list-column {
    display: inline-block;
    vertical-align: top;
    line-height: 16px;
}

.list-column.num {
    width: 40px;
    position: absolute;
    top: 0;
    left: 3px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.list-column.edit {
    cursor: pointer;
    background: #007acc;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 4px;
    right: 5px;
    width: 80px;
    padding: 4px;
}

.list-column.questions {
    background: #007acc;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    height: 25px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 45px;
    width: 80px;
    padding: 4px;
}

.list-column.questions:hover, .list-column.questions.active,
.list-column.edit:hover, .list-column.edit:active {
    cursor: pointer;
    background: #fff;
    color: #007acc;
    border: 2px solid #007acc;
}

.list-column.questions a {
    text-decoration: none;
    color: inherit;
}

.list-column.category {
    padding: 30px 40px 10px 40px;
}

.list-column.question {
    padding: 45px 10px 5px 10px;
}

.link_back {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 41px;
    line-height: 45px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    margin: 4px;
}

.link_back:hover, .link_back:active {
    background: #007acc;
}